In [17]:
import json
import pandas as pd
import pickle
import numpy as np
from datetime import datetime
from datetime import timedelta

## Import Articles

In [51]:
with open('/home/jon/Desktop/thesis/Data/Articles/Annotated/2010_annotated.json', 'r') as f:
    articles = json.load(f)

## Define Date Functions

In [42]:
def clean_date(date):
    return datetime.strptime(date.replace(',', ''), '%b %d %Y')


def get_week(date_map, date):
    for week in date_map:
        if date in date_map[week]:
            return week
            
    return None

## Import Games Frame

In [4]:
games = pd.read_csv('/home/jon/Desktop/thesis/Data/Kaggle CSV Files/Games/spreadspoke_scores.csv')
games = games[games['schedule_season'] == 2010]
games = games[['schedule_date', 'schedule_season', 'schedule_week']]
games.drop_duplicates(['schedule_date', 'schedule_week'], inplace=True)
games.drop_duplicates(['schedule_season', 'schedule_week'], keep='last', inplace=True)
games['schedule_date'] = pd.to_datetime(games['schedule_date'])

In [5]:
games

      schedule_date  schedule_season schedule_week
10022    2010-09-13             2010             1
10039    2010-09-20             2010             2
10055    2010-09-27             2010             3
10069    2010-10-04             2010             4
10083    2010-10-11             2010             5
10097    2010-10-18             2010             6
10111    2010-10-25             2010             7
10124    2010-11-01             2010             8
10137    2010-11-08             2010             9
10151    2010-11-15             2010            10
10167    2010-11-22             2010            11
10183    2010-11-29             2010            12
10199    2010-12-06             2010            13
10214    2010-12-13             2010            14
10231    2010-12-20             2010            15
10247    2010-12-28             2010            16
10248    2011-01-02             2010            17
10266    2011-01-09             2010      Wildcard
10270    2011-01-16             2010      Division
10272    2011-01-23             2010    Conference
10274    2011-02-06             2010     Superbowl

Feb. 7 2010 to September 6 2010 are offseason

In [21]:
date_map = {}

for i in range(len(games)-1):
    start = games.iloc[i]['schedule_date']
    end = games.iloc[i+1]['schedule_date']
    index = pd.date_range(start, end)
    date_map[games.iloc[i]['schedule_week']] = index
    
date_map['Offseason'] = pd.date_range(datetime(2010, 2, 7), datetime(2010, 9, 6))

In [22]:
date_map

{'1': DatetimeIndex(['2010-09-13', '2010-09-14', '2010-09-15', '2010-09-16',
                '2010-09-17', '2010-09-18', '2010-09-19', '2010-09-20'],
               dtype='datetime64[ns]', freq='D'),
 '2': DatetimeIndex(['2010-09-20', '2010-09-21', '2010-09-22', '2010-09-23',
                '2010-09-24', '2010-09-25', '2010-09-26', '2010-09-27'],
               dtype='datetime64[ns]', freq='D'),
 '3': DatetimeIndex(['2010-09-27', '2010-09-28', '2010-09-29', '2010-09-30',
                '2010-10-01', '2010-10-02', '2010-10-03', '2010-10-04'],
               dtype='datetime64[ns]', freq='D'),
 '4': DatetimeIndex(['2010-10-04', '2010-10-05', '2010-10-06', '2010-10-07',
                '2010-10-08', '2010-10-09', '2010-10-10', '2010-10-11'],
               dtype='datetime64[ns]', freq='D'),
 '5': DatetimeIndex(['2010-10-11', '2010-10-12', '2010-10-13', '2010-10-14',
                '2010-10-15', '2010-10-16', '2010-10-17', '2010-10-18'],
               dtype='datetime64[ns]', freq='D'),
 '6': DatetimeIndex(['2010-10-18', '2010-10-19', '2010-10-20', '2010-10-21',
                '2010-10-22', '2010-10-23', '2010-10-24', '2010-10-25'],
               dtype='datetime64[ns]', freq='D'),
 '7': DatetimeIndex(['2010-10-25', '2010-10-26', '2010-10-27', '2010-10-28',
                '2010-10-29', '2010-10-30', '2010-10-31', '2010-11-01'],
               dtype='datetime64[ns]', freq='D'),
 '8': DatetimeIndex(['2010-11-01', '2010-11-02', '2010-11-03', '2010-11-04',
                '2010-11-05', '2010-11-06', '2010-11-07', '2010-11-08'],
               dtype='datetime64[ns]', freq='D'),
 '9': DatetimeIndex(['2010-11-08', '2010-11-09', '2010-11-10', '2010-11-11',
                '2010-11-12', '2010-11-13', '2010-11-14', '2010-11-15'],
               dtype='datetime64[ns]', freq='D'),
 '10': DatetimeIndex(['2010-11-15', '2010-11-16', '2010-11-17', '2010-11-18',
                '2010-11-19', '2010-11-20', '2010-11-21', '2010-11-22'],
               dtype='datetime64[ns]', freq='D'),
 '11': DatetimeIndex(['2010-11-22', '2010-11-23', '2010-11-24', '2010-11-25',
                '2010-11-26', '2010-11-27', '2010-11-28', '2010-11-29'],
               dtype='datetime64[ns]', freq='D'),
 '12': DatetimeIndex(['2010-11-29', '2010-11-30', '2010-12-01', '2010-12-02',
                '2010-12-03', '2010-12-04', '2010-12-05', '2010-12-06'],
               dtype='datetime64[ns]', freq='D'),
 '13': DatetimeIndex(['2010-12-06', '2010-12-07', '2010-12-08', '2010-12-09',
                '2010-12-10', '2010-12-11', '2010-12-12', '2010-12-13'],
               dtype='datetime64[ns]', freq='D'),
 '14': DatetimeIndex(['2010-12-13', '2010-12-14', '2010-12-15', '2010-12-16',
                '2010-12-17', '2010-12-18', '2010-12-19', '2010-12-20'],
               dtype='datetime64[ns]', freq='D'),
 '15': DatetimeIndex(['2010-12-20', '2010-12-21', '2010-12-22', '2010-12-23',
                '2010-12-24', '2010-12-25', '2010-12-26', '2010-12-27',
                '2010-12-28'],
               dtype='datetime64[ns]', freq='D'),
 '16': DatetimeIndex(['2010-12-28', '2010-12-29', '2010-12-30', '2010-12-31',
                '2011-01-01', '2011-01-02'],
               dtype='datetime64[ns]', freq='D'),
 '17': DatetimeIndex(['2011-01-02', '2011-01-03', '2011-01-04', '2011-01-05',
                '2011-01-06', '2011-01-07', '2011-01-08', '2011-01-09'],
               dtype='datetime64[ns]', freq='D'),
 'Wildcard': DatetimeIndex(['2011-01-09', '2011-01-10', '2011-01-11', '2011-01-12',
                '2011-01-13', '2011-01-14', '2011-01-15', '2011-01-16'],
               dtype='datetime64[ns]', freq='D'),
 'Division': DatetimeIndex(['2011-01-16', '2011-01-17', '2011-01-18', '2011-01-19',
                '2011-01-20', '2011-01-21', '2011-01-22', '2011-01-23'],
               dtype='datetime64[ns]', freq='D'),
 'Conference': DatetimeIndex(['2011-01-23', '2011-01-24', '2011-01-25', '2011-01-26',
                '2011-01-27', '2011-01-28', '2011-01-29', '2011-01-30',
                '2011-01-31', '2011-02-01', '2011-02-02', '2011-02-03',
                '2011-02-04', '2011-02-05', '2011-02-06'],
               dtype='datetime64[ns]', freq='D'),
 'Offseason': DatetimeIndex(['2010-02-07', '2010-02-08', '2010-02-09', '2010-02-10',
                '2010-02-11', '2010-02-12', '2010-02-13', '2010-02-14',
                '2010-02-15', '2010-02-16',
                ...
                '2010-08-28', '2010-08-29', '2010-08-30', '2010-08-31',
                '2010-09-01', '2010-09-02', '2010-09-03', '2010-09-04',
                '2010-09-05', '2010-09-06'],
               dtype='datetime64[ns]', length=212, freq='D')}

article['Week'] = get_week(games, clean_date(article['date']))

In [46]:
next_years_articles = []
new_articles = []

for article in articles:
    week = get_week(date_map, clean_date(article['date']))
    if week is None:
        next_years_articles.append(article)
        articles.remove(article)
    else:
        article['Week'] = week

In [47]:
len(next_years_articles)

296

In [48]:
len(articles)

6249

In [49]:
with open(f'/home/jon/Desktop/thesis/Data/Articles/Annotated/2010_annotated.json', 'w') as f:
        json.dump(articles, f)

In [50]:
with open(f'/home/jon/Desktop/thesis/Data/Articles/Annotated/2011_annotated.json', 'w') as f:
        json.dump(next_years_articles, f)